.caja {
    width: 300px;
    /*background-color: dodgerblue;*/
    background: #0084ff;
        background: linear-gradient(180deg, #0084ff 0%, #00e0ff 20%);
        background: -webkit-linear-gradient(180deg, #0084ff 0%, #00e0ff 20%);
        background: -moz-linear-gradient(180deg, #0084ff 0%, #00e0ff 20%);
    /*box-shadow: 20px 40px 5px black;*/
    box-shadow: 13px 24px 42px -19px rgba(123, 105, 105, 0.77);
    }