#titulo {
    color:cornflowerblue
}
#titulo {
    font-variant: small-caps;
}
#titulo {
    font-family: 'Finlandica', sans-serif;
    background-color:rgba(0,0,0,0.8)
}
#titulo {
    margin: 10px;
    padding: 30px 100px;  
    border:8px red groove;
    height: 40px;
    width: 500px;
    outline: 5px solid black;
}
#titulo {
    text-align: center;
}
p.edad {
    color:brown
}
p.edad {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.edad {
    font-style: oblique;
}
p.edad {
    font-variant: small-caps;
}
p.domicilio {
    background: linear-gradient(to bottom, green, white);
    border: 5px darkgrey groove;
    border-radius: 40px;
    text-align: center;
    font-family: italic;
    color:dodgerblue
}

p.series {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 3px cyan; 
}
p.series {
    color:darkolivegreen
}
p.peliculas {
    font-family: 'Finlandica', sans-serif;
    color: darkslategrey
}
p.peliculas {
    text-decoration: underline;
}

p.perfil {
    color:dodgerblue
}
p.perfil {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    fill-opacity: initial;
    text-align: center;
    box-shadow: 0 0 10px #349;
    border-radius: 20px 20px 10px 10px;
}

a:link {
    color:blueviolet
}
a:visited {
    color:chartreuse
}
p.columnas {
    background-color: cornflowerblue;
    column-count: 2;
    column-gap: 30px;
    column-rule: 5px solid whitesmoke;
    column-rule-style: groove;
}
header i {
    font-size: 80px;
    margin: 0 18px;
    align-self: center;

}
.icono {
    color: cyan;
    text-align: center;
}